<%= display_errors %>
<div class="logo login-logo">
  <i class="fa fa-user-secret"></i>
  <h1 class="logo-name"><span class="bold">ANON</span>Chat</h1>
</div>
<div class="login-form">
  <form id="form_id" action="/login" method="POST">
    <div class="minimalist-input">
      <i class="fa fa-user user-icon"></i><input type="text" name="permanent_name" placeholder="Username">
    </div>
    <div class="minimalist-input">
      <i class="fa fa-unlock-alt password-icon"></i><input type="password" name="password" placeholder="Password">    </div>
    <input class="primary-button" type="submit" value="Log In">
  </form>
</div>
<a class="register-link" href="/register">Don't have an account? Register here.</a>
