<%= display_errors %>
<div class="logo login-logo">
  <i class="fa fa-user-secret"></i>
  <h1 class="logo-name"><span class="bold">ANON</span>Chat</h1>
</div>
<div class="login-form">
  <form id="form_id" action="/login" method="POST">
    <input type="text" name="permanent_name" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
    <a class="register-link" href="/register">Need an account?</a>
  </form>
  </span>
</div>
