<%= display_errors %>
<div class="logo">
  <i class="fa fa-user-secret"></i>
  <h1 class="logo-name"><span class="bold">ANON</span>Chat</h1>
</div>
<form id="form_id" action="/register" method="POST">
  <input type="text" name="user[permanent_name]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
  <input type="submit" value="Register">
</form>
